<!-- Header -->
	<header id="header" class="alt">
		
		<h1>
			<a href="{{ site.baseurl }}/index.html">Save Our Symphony</a> Pittsburgh</h1>
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/#top">Home</a></li>
				<li><a href="{{ site.baseurl }}/#mission">Mission</a></li>
				<li><a href="{{ site.baseurl }}/#get-involved">Get Involved</a></li>
				<li><a href="{{ site.baseurl }}/#news">News</a></li>
				<li><a href="{{ site.baseurl }}/#contact">Contact</a></li>
				<li><a href="https://squareup.com/store/save-our-symphony-pittsburgh/item/support-save-our-symphony" target="_blank" class="button">Donate</a></li>
			</ul>
		</nav>
	</header>
